@import '../../app/variables.scss';

.container {
  width: 90%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_block {
  width: 200px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: -200px;
}

.hamburger_menu {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: fixed;
  right: 60px;
  top: 60px;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: $white-color;
  position: absolute;
  transition: all 0.3s ease-out;
}

.bar.upper_bar {
  transform: translatey(-10px);
}

.bar.lower_bar {
  transform: translatey(10px);
}

.hamburger_menu,
.menu_list {
  position: fixed;
  z-index: 4;
}
.hamburger_menu {
  z-index: 5;
}

.menu_list {
  opacity: 0;
  &_lng {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    button {
      color: $white-color;
      background: $purple-700;
      border: 0;
      font-weight: bold;
    }
  }
}

.menu_list > ul {
  list-style: none;
  margin-top: 20px;
}

.menu_list > ul > li a {
  color: $white-color;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border-bottom: solid 1px $blue-300;
  transition: 0.3s;
}

.menu_background {
  width: 800px;
  height: 800px;
  position: fixed;
  top: 60px;
  right: -2800px;
  z-index: 3;
  background-color: $purple-700;
  transform: translate(-100%, -100%);
  transition: all 0.3s ease-out;
  border-radius: 100%;
}

.active:hover .bar.middle_bar {
  transform: translatex(1000px);
}

.active:hover .bar.upper_bar {
  transform: rotate(45deg);
}

.active:hover .bar.lower_bar {
  transform: rotate(-45deg);
}

.active:hover .menu_list {
  right: 70px;
  top: 70px;
  animation: menuAppears 0.2s ease-out;
  opacity: 1;
}

.active:hover .menu_background {
  animation: bubblePresent 0.2s ease-out;
  transform: translate(-2250px, -300px);
}

.menu_list > ul > li a:hover {
  background-color: rgba(207, 204, 255, 0.2);
  animation: linkAnimation 0.2s ease-out;
}
.menu_list_lng button:hover {
  background-color: rgba(207, 204, 255, 0.2);
  animation: linkAnimation 0.2s ease-out;
}

@keyframes menuAppears {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 40%;
  }
  100% {
    opacity: 1;
  }
}

@keyframes linkAnimation {
  0% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bubblePresent {
  0% {
    transform: translate(100px, -200px);
  }
  50% {
    transform: translate(-1600px, -200px);
  }
  80% {
    transform: translate(-1800px, -200px);
  }
  100% {
    transform: translate(-2300px, -200px);
  }
}

.header {
  &__logo {
    z-index: 5;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    &_img {
      display: block;
      position: relative;
      width: 150px;
      height: 100px;
    }
    img {
      display: block;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.menu_active {
  text-shadow: 0 0 2px $dark-color;
}

@media (max-width: 767px) and (orientation: landscape) {
  .hamburger_menu {
    width: 20px;
    height: 14px;
  }
  .menu_background {
    width: 750px;
    height: 750px;
  }
  .header__logo {
    width: 100px;
  }

  .active:hover .menu_background {
    transform: translate(-2250px, -300px);
  }

  .active:hover .menu_list {
    right: 30px;
    top: 60px;
  }

  .hamburger_menu {
    right: 30px;
  }
}

@media (max-width: 575px) {
  .hamburger_menu {
    width: 20px;
    height: 14px;
  }
  .menu_background {
    width: 700px;
    height: 700px;
  }
  .header__logo {
    width: 100px;
  }

  .active:hover .menu_background {
    transform: translate(-2320px, -280px);
  }

  .active:hover .menu_list {
    right: 30px;
    top: 60px;
  }

  .hamburger_menu {
    right: 20px;
  }
}
