$purple-700: #93278f;
$purple-500: #cf97ff;
$purple-300: rgb(255, 153, 230);
$green-700: #44904e;
$green-500: #39b54a;
$green-300: #23d5ab;
$blue-700: #4452a2;
$blue-500: #6673ff;
$blue-300: #a6cde2;
$blue-100: rgb(207, 204, 255);
$white-color: #ffffff;
$dark-color: #000000;
$grey-700: #00000099;
$grey-500: #00000040;
$grey-100: #ffffff86;

:export {
  green: $green-500;
  blue: $blue-500;
  dark: $dark-color;
  white: $white-color;
}
