@import '../../app/variables.scss';

@mixin ease($time: 333ms, $attr: all, $curve: ease-in-out) {
  -webkit-transition: $attr $time $curve;
  -moz-transition: $attr $time $curve;
  -o-transition: $attr $time $curve;
  -ms-transition: $attr $time $curve;
  transition: $attr $time $curve;
}

.h1 {
  margin-bottom: 40px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: $grey-700;
}

// Form
.form {
  width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: fit-content;
  .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    .inputName,
    .inputEmail,
    .textareaMsg {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      font-size: 16px;
      letter-spacing: 3px;
      border: none;
      background: $white-color;
      width: 100%;
      margin: 0;
      padding-left: 19.5%;
      color: $blue-700;
      text-transform: uppercase;
      border-radius: 16px;
      &:focus,
      &.focused {
        outline: none;
        + label {
          width: 18%;
          background: $purple-700;
          color: $white-color;
        }
      }
      &.focused {
        + label {
          color: $purple-700;
        }
      }
    }
    .labelName,
    .labelEmail,
    .textareaLabel {
      height: 40px;
      color: $dark-color;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
      background: $blue-500;
      width: 100%;
      padding: 5px;
      font-size: 16px;
      letter-spacing: 3px;
      border-radius: 16px;

      @include ease(333ms);
    }
    .textareaMsg {
      height: 130px;
    }
    .textareaLabel {
      height: 130px;
    }
    &:hover {
      label {
        width: 18%;
        background: $blue-500;
        color: white;
      }
    }
  }
}

.button {
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: $purple-700;
  color: white;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 20px;
  border-radius: 16px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  @include ease;
  &:hover {
    background: $blue-500;
    color: $white-color;
  }

  &:focus {
    outline: none;
    background: $purple-700;
  }
}

.checked {
  position: absolute;
  top: 5px;
  left: 10px;
  color: $white-color;
}

.cargoDetailes {
  background: transparent;
  border: none;
  text-decoration: underline;
  text-align: left;
  margin: 10px 0;
  color: $grey-700;
  cursor: pointer;
  font-size: 15px;
}

.message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  font-size: 15px;
  font-weight: bold;
  &__wrapper {
    position: relative;
  }
  &_succeed {
    color: $green-700;
  }
  &_error {
    color: $red-700;
  }
}

@media (max-width: 991px) {
  .h1 {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .form {
    .field {
      margin-bottom: 12px;
      .inputName,
      .inputEmail,
      .textareaMsg {
        height: 30px;
        font-size: 15px;
        letter-spacing: 2px;
      }
      .labelName,
      .labelEmail,
      .textareaLabel {
        height: 30px;
        font-size: 15px;
        letter-spacing: 2px;
      }
      .textareaMsg {
        height: 120px;
      }
      .textareaLabel {
        height: 120px;
      }
    }
  }

  .button {
    font-size: 17px;
    letter-spacing: 4px;
  }

  .checked {
    font-size: 14px;
    &_icon {
      width: 20px;
      height: 20px;
    }
  }

  .cargoDetailes {
    margin: 0;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .message {
    font-size: 14px;
  }
}

@media (max-width: 767px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3),
  screen and (max-width: 767px) {
  .h1 {
    font-size: 21px;
  }

  .form {
    width: 400px;
    .field {
      margin-bottom: 10px;
      .inputName,
      .inputEmail,
      .textareaMsg {
        height: 25px;
        font-size: 14px;
      }
      .labelName,
      .labelEmail,
      .textareaLabel {
        height: 25px;
        font-size: 14px;
      }
      .textareaMsg {
        height: 100px;
      }
      .textareaLabel {
        height: 100px;
      }
    }
  }

  .button {
    font-size: 16px;
    letter-spacing: 3px;
    width: 15 0px;
    height: 35px;
  }

  .checked {
    font-size: 13px;
    &_icon {
      width: 15px;
      height: 15px;
    }
  }

  .cargoDetailes {
    font-size: 13px;
  }

  .message {
    font-size: 13px;
  }
}

@media (max-width: 575px) {
  .h1 {
    font-size: 18px;
  }

  .form {
    width: 250px;
    .field {
      .inputName,
      .inputEmail,
      .textareaMsg {
        padding-left: 26.5%;
        font-size: 11px;
        letter-spacing: 0px;
      }
      .labelName,
      .labelEmail,
      .textareaLabel {
        font-size: 12px;
        letter-spacing: 2px;
      }
      input[type='text'],
      textarea {
        &:focus,
        &.focused {
          + label {
            width: 25%;
          }
        }
      }
      &:hover {
        label {
          width: 25%;
        }
      }
    }
  }

  .button {
    font-size: 16px;
    letter-spacing: 3px;
    width: 140px;
    height: 35px;
    margin-bottom: 20px;
  }

  .checked {
    left: 20px;
    top: 5px;
    &_text {
      display: none;
    }
  }

  .cargoDetailes {
    margin-bottom: 10px;
    font-size: 12px;
  }

  .message {
    top: -15px;
    &_error {
      left: 0px;
      transform: translateX(0);
      font-size: 13px;
    }
  }
}
